<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.springmybatis.dao.SpitterDao">
    <resultMap id="BaseResultMap" type="com.study.springmybatis.entity.Spitter">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="first_name" jdbcType="VARCHAR" property="firstName"/>
        <result column="last_name" jdbcType="VARCHAR" property="lastName"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, username, password, first_name, last_name, email
    </sql>

    <insert id="insert" parameterType="com.study.springmybatis.entity.Spitter">
        insert into Spitter (username, password, first_name, last_name, email)
        values (#{username}, #{password}, #{firstName}, #{lastName}, #{email})
    </insert>

    <select id="findByUsername" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from Spitter
        where username = #{username}
    </select>
</mapper>